<%- include('../partials/header') %>

<!-- ======= services Details Section ======= -->
<section id="contact-details">
    <div class="container">
        <div class="row justify-content-between contact-details-row">
            <div class="col-md-3">
                <h1>Contact.</h1>
                <!--                address 1-->
                <h3>Address 1</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <!--                address 2-->
                <h3>Address 2</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <!--                address 3-->
                <h3>Address 3</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <!--                email-->
                <h3>Email</h3>
                <a href="#">abc@future.ai</a>

            </div>
            <div class="col-md-7 contact-form-heading">
                <h5>Send us a message. We’d love to hear from you!</h5>
                <form>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" required></textarea>
                    </div>
                    <button class="btn btn submit-btn" type="submit">Submit</button>
                </form>

            </div>
        </div>
    </div>
    <div class="map-row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17506035.60956636!2d-108.21239874848537!3d40.75920828915917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2s!4v1628476699539!5m2!1sen!2s"
                width="100%" height="500" style="border:0;" allowfullscreen=""></iframe>
    </div>
</section>

<%- include('../partials/footer') %>