<%- include('./partials/header') %>
<!--blog section-->

<section id="blog">
    <div class="container">
        <h1>Blogs</h1>
        <!--        1st blog-->
        <div class="blog-div">
                <div class="item">
                        <img src="https://res.cloudinary.com/futureai/image/upload/v1628452886/empty_qrxujv.jpg">
                     <div class="content blog-content">
                        <a class="header" href="/blogs/blog-sample" target="_blank">
                           Name of Blog
                        </a>
                        <p class="blog-date">Blog Date</p>
                        <div class="extra">
                            <a href="/blogs/blog-sample" class="cta-btn btn btn-get-started" target="_blank">
                                Read More <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
        <!--        2nd blog-->
        <div class="blog-div">
            <div class="item">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628452886/empty_qrxujv.jpg">
                <div class="content blog-content">
                    <a class="header" href="/blogs/blog-sample" target="_blank">
                        Name of Blog
                    </a>
                    <p class="blog-date">Blog Date</p>
                    <div class="extra">
                        <a href="/blogs/blog-sample" class="cta-btn btn btn-get-started" target="_blank">
                            Read More <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--        3rd blog-->
        <div class="blog-div">
            <div class="item">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628452886/empty_qrxujv.jpg">
                <div class="content blog-content">
                    <a class="header" href="/blogs/blog-sample" target="_blank">
                        Name of Blog
                    </a>
                    <p class="blog-date">Blog Date</p>
                    <div class="extra">
                        <a href="/blogs/blog-sample" class="cta-btn btn btn-get-started" target="_blank">
                            Read More <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/footer') %>
