
<%- include('./partials/header') %>
<!-- ======= jumbotron section ======= -->


<section id="intro">
  <div class="container">
    <div class="intro-info">
      <h2>Data Science & AI</h2>
      <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
      <div>
        <a href="#services" class="btn-get-services scrollto jumbo-services-btn">Services</a>
        <a href="#case-studies" class="btn-case-studies scrollto jumbo-case-studies-btn">Case Studies</a>
      </div>
    </div>
  </div>
</section><!-- End jambo Section -->

<main id="main">
  <!-- ======= client section ======= -->

  <section id="clients">
    <div class="container">
      <header class="section-header" id="clients-header">
        <h3>Clients</h3>
      </header>
      <div class="row mt-5">
        <div class="col-md-3 client-img-1">
          <img src="https://res.cloudinary.com/futureai/image/upload/v1628369491/6_u4ffnz.png" >
        </div>
        <div class="col-md-3 client-img-2">
          <img src="https://res.cloudinary.com/futureai/image/upload/v1628369491/2_uyjws5.png" >
        </div>
        <div class="col-md-3 client-img-3">
          <img src="https://res.cloudinary.com/futureai/image/upload/v1628369491/1_o78gxi.png" >
        </div>
        <div class="col-md-3 client-img-4">
          <img src="https://res.cloudinary.com/futureai/image/upload/v1628369490/3_dwjhi8.png" >
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4 client-img-5">
          <img src="https://res.cloudinary.com/futureai/image/upload/v1628369491/5_mrxulu.png" >
        </div>
        <div class="col-md-4 client-img-6">
          <img src="https://res.cloudinary.com/futureai/image/upload/v1628369491/7_wgmyej.png" >
        </div>
        <div class="col-md-4 client-img-7">
          <img src="https://res.cloudinary.com/futureai/image/upload/v1628369491/1_o78gxi.png" >
        </div>
      </div>
    </div>
  </section><!-- End client Section -->



  <!-- ======= Services Section ======= -->
  <section id="services" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3>Services</h3>
      </header>
    </div>
    <div class="service-container">
      <div class="row justify-content-center">
        <div class="card card-style">
          <div class="card-body">
            <img src="https://res.cloudinary.com/futureai/image/upload/v1628375173/science_kjhbs9.png">
            <h5 class="card-title">BI Execution</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn-get-services scrollto jumbo-services-btn">Read More</a>
          </div>
        </div>
        <div class="card card-style">
          <div class="card-body">
            <img src="https://res.cloudinary.com/futureai/image/upload/v1628375173/virtual-reality_fyknsh.png">
            <h5 class="card-title">Virtual Assistance</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn-get-services scrollto jumbo-services-btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="card card-style">
          <div class="card-body">
            <img src="https://res.cloudinary.com/futureai/image/upload/v1628375173/artificial-intelligence_nrpi8k.png">
            <h5 class="card-title">Artificial Intelligence</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn-get-services jumbo-services-btn">Read More</a>
          </div>
        </div>
        <div class="card card-style">
          <div class="card-body">
            <img src="https://res.cloudinary.com/futureai/image/upload/v1628375173/data-science_vc6pct.png">
            <h5 class="card-title">Data Science</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/data-science" class="btn-get-services jumbo-services-btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section><!-- End Services Section -->


  <!-- ======= Case studies Section ======= -->
  <section id="case-studies">
    <div class="container">
      <header class="section-header">
        <h3 class="case-studies-heading">Case Studies</h3>
      </header>
    </div>
    <div class="swiper-container loading">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E)">
          <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E" class="entity-img" />
          <div class="content">
            <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Case Study 1</p>
            <a href="/casestudy-1" class="btn-get-services jumbo-services-btn">Know More</a>
          </div>
        </div>
        <div class="swiper-slide" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg)">
          <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg" class="entity-img" />
          <div class="content">
            <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Case Study 2</p>
            <a href="/casestudy-1" class="btn-get-services jumbo-services-btn">Know More</a>
          </div>
        </div>
        <div class="swiper-slide" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s)">
          <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s" class="entity-img" />
          <div class="content">
            <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Case Study 3</p>
            <a href="/casestudy-1" class="btn-get-services jumbo-services-btn">Know More</a>
          </div>
        </div>
        <div class="swiper-slide" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk)">
          <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk" class="entity-img" />
          <div class="content">
            <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Case Study 4</p>
            <a href="/casestudy-1" class="btn-get-services jumbo-services-btn">Know More</a>
          </div>
        </div>
        <div class="swiper-slide" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM)">
          <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM" class="entity-img" />
          <div class="content">
            <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Case Study 5</p>
            <a href="/casestudy-1" class="btn-get-services jumbo-services-btn">Know More</a>
          </div>
        </div>
      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev swiper-button-white"></div>
      <div class="swiper-button-next swiper-button-white"></div>
    </div>
    </div>
    </div>
  </section><!-- Case Studies End -->


  <!-- ======= Contact Section ======= -->
  <section id="contact">
    <div class="container">
      <div class="col-md-12 wrap justify-content-center">
        <h5 class="contact-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
        <a href="/contact" class="btn-get-contact scrollto jumbo-contact-btn">Contact Us</a>
      </div>
    </div>
    </div>
  </section><!-- End Why Us Section -->
</main>

<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<%- include('./partials/footer') %>