<%- include('../partials/header') %>

<!-- ======= services Details Section ======= -->
<section id="team-details">
    <div class="container">
        <h1>Our people stand out.</h1>
        <h2>Leadership.</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.</p>
        <div class="row justify-content-between team-details-row">
<!--            team member 1-->
            <div class="col-md-4">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628545633/empty_uq7ebo.jpg" class="responsive">
                <div class="team-para">
                    <h3>Lorem Ipsum.</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                        Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
<!--            team member 2-->
            <div class="col-md-4">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628545633/empty_uq7ebo.jpg" class="responsive">
                <div class="team-para">
                    <h3>Lorem Ipsum.</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                        Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
<!--            team member 3-->
            <div class="col-md-4">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628545633/empty_uq7ebo.jpg" class="responsive">
                <div class="team-para">
                    <h3>Lorem Ipsum.</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                        Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer') %>