<%- include('../partials/header') %>

<!-- ======= services Details Section ======= -->
<section id="innovation-labs-details">
    <div class="container">
        <h1>Innovations & Labs</h1>
        <div class="flexbox-container justify-content-between">
            <!--            1st innovation-->
            <div class="flex-item">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628545633/empty_uq7ebo.jpg" class="responsive">
            </div>
            <div class="flex-item innovation-labs-para">
                <h3>Lorem Ipsum is simply</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries,Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries</p>
            </div>
            <!--            2nd innovation-->
            <div class="flex-item">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628545633/empty_uq7ebo.jpg" class="responsive">
            </div>
            <div class="flex-item innovation-labs-para">
                <h3>Lorem Ipsum is simply</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries,Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries</p>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer') %>