<%- include('../partials/header') %>

<!-- ======= services Details Section ======= -->
<section id="clients-details">
    <div class="container">
        <div class="row justify-content-between clients-details-row">
            <div class="col-md-5">
                <h1>Committed to client Success.</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="col-md-5">
                <h1>Featured Clients.</h1>
                <h5>Telecommunications.</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <h5>Financial Services and Insurance.</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <h5>Logistics and Transport.</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <h5>E-Commerce and Retail.</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <h5>Healthcare.</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>

            </div>
        </div>
</div>
    <div class="clients-row">
        <div class="row justify-content-center">
            <!--            client 1-->
            <div class="col-md-2">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628369491/1_o78gxi.png">
            </div>
            <!--            client 2-->
            <div class="col-md-2">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628369491/2_uyjws5.png">
            </div>
            <!--            client 3-->
            <div class="col-md-2">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628369490/3_dwjhi8.png">
            </div>
            <!--            client 4-->
            <div class="col-md-2">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628369491/5_mrxulu.png">
            </div>
            <!--            client 5-->
            <div class="col-md-2">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628369491/6_u4ffnz.png">
            </div>
        </div>
        <div class="row justify-content-center">
            <!--            client 6-->
            <div class="col-md-2">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628369491/1_o78gxi.png">
            </div>
            <!--            client 7-->
            <div class="col-md-2">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628369491/2_uyjws5.png">
            </div>
            <!--            client 8-->
            <div class="col-md-2">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628369490/3_dwjhi8.png">
            </div>
            <!--            client 9-->
            <div class="col-md-2">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628369491/5_mrxulu.png">
            </div>
        </div>
        <div class="row justify-content-center">
            <!--            client 10-->
            <div class="col-md-2">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628369491/1_o78gxi.png">
            </div>
            <!--            client 11-->
            <div class="col-md-2">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628369491/2_uyjws5.png">
            </div>
            <!--            client 12-->
            <div class="col-md-2">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628369490/3_dwjhi8.png">
            </div>
            <!--            client 13-->
            <div class="col-md-2">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628369491/5_mrxulu.png">
            </div>
            <!--            client 14-->
            <div class="col-md-2">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628369491/6_u4ffnz.png">
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer') %>