<%- include('../partials/header') %>

<!-- ======= services Details Section ======= -->
<section id="demos-details">
    <div class="container">
        <h1>Demos</h1>
        <div class="row justify-content-between demos-detail-row">
            <!--video 1-->
            <div class="col-md-4">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628461504/video_qjywq8.jpg">
                <div class="demos-para">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
            </div>
            <!--video 2-->
            <div class="col-md-4">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628461504/video_qjywq8.jpg">
                <div class="demos-para">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
            </div>
            <!--video 3-->

            <div class="col-md-4">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628461504/video_qjywq8.jpg">
                <div class="demos-para">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>

            </div>

        </div>

        <div class="row justify-content-between demos-detail-row">
            <!--video 4-->
            <div class="col-md-4">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628461504/video_qjywq8.jpg">
                <div class="demos-para">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
            </div>
            <!--video 5-->
            <div class="col-md-4">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628461504/video_qjywq8.jpg">
                <div class="demos-para">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
            </div>
            <!--video 6-->
            <div class="col-md-4">
                <img src="https://res.cloudinary.com/futureai/image/upload/v1628461504/video_qjywq8.jpg">
                <div class="demos-para">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>

            </div>

        </div>
    </div>
</section>

<%- include('../partials/footer') %>